body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/*Mobile First */

/*Header*/

@media(max-width:540px) {
  .NavBar ul {
    width: auto;
  }
}



/* END MOBILE FIRST DESIGNS */




/*----------NEW SECTTION --------- */


/*GENERAL (COMPUTER) SCREEN DESIGNS */

.NavBar{
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #ffffff;
  height: 60px;
  z-index: 1;
}
.NavBar ul{
  list-style: none;
  display: inline-flex;
  margin: 0px auto;
  width: 20%;
  padding: 5px;
}

.NavBar ul li {
  margin-left: 40px;
  padding: 10px;
  border-radius: 8px;
  color: white;
}
.NavBar ul li a {
  text-decoration: none;
  color: black;
}


.NavBar ul li:hover {
  border: 1px solid blue;
}





/* ------End of stylings for thr navbar ---- */


/*style the banner */
.content-card {
  background-image: url("./images/kpi.jpeg");
  height: 100vh;
  background-size:cover;
  background-position: center;
  color: wheat;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.box1 {
  width: 100%;
  height: 100%;
  background-color: blue;
  opacity: 0.3;
}

.content-card .content {
  color: white;
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.content-card .content .btn {
  display: grid;
  margin: 10px auto;
}
/*End of stylings for banners */

/* END OF GENERAL DESIGNS */


/*Mission vision styles */

.vision-mission {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  font-size: 15px;
  margin: 20px 0px;
}

  .vision-mission div {
  padding: 20px;
  box-sizing: border-box;
  margin: 0px auto;
  color: black;
  }

  .vision-mission div:hover {
    background-color: lightblue;
    color: black;
    line-height: 25px;
}



/*End of style for mission vision */

/*styles for about us */

  .about-us {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin:  20px 0px;
    background-color: lightblue;
  }

  .about-header{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
  }
  .description {
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
    line-height: 30px;
  }

  .about-us:hover {
    color: black;
  }


  .abt-btn .btn{
    display: grid;
    margin: 10px auto;
  }



/*END OF STYLES FOR ABOUT US */


/*STYLES FOR CALCULATORS */
.calculators {
  background-color: #f6f7f8;
  margin-top: -20px;
  padding: 20px;
  margin-bottom: 40px;
}

.calculators .rankers{
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 10px;
}
.category {
  background-color: #ffffff;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  border-left: 3px solid blue;
}



/*NAVBAR STYLES */

.footer {
  background-color: black;
  color: white;
  display: grid;
  grid-template-rows: 90% 10%;
  padding: 10px;
}
.top-footer{
  display: grid;
  grid-template-columns: repeat(5, 1fr)
}

.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.bottom-footer p{
  color: orange;
}
.links {
  margin-bottom: 20px;
}


/*END OF NAVBAR STYLES */





/*END OF STYLES FOR CALCULATORS /*




/* MEDIA QUERIES */
@media(min-width:1100px) {
  .NavBar ul {
    position: relative;
    left: 100px;
  }
}


@media(max-width:1100px) {
  body {
    font-size: small;
  }
}


@media(max-width: 600px){
  .vision-mission {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
  }

  .top-footer{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(200px, auto)
  }
}